/***
  Contact
***/

.contact-wrapper {
  padding: 150px 0 0;
  background-color: white;
  @include flexbox(row, center, center, wrap);

  .contact-block {
    position: relative;
    width: 50%;
    max-width: 1000px;
    border: 3px solid black;
    padding: 75px 0 50px;
    text-align: center;

    p {
      padding: 0 75px;
      text-align: center;
      margin-bottom: 35px;
    }

    button {
      position: relative;
      width: 400px;
      background-color: black;
      color: white;
      padding: 20px 0;
      border: 0;
      font-weight: lighter;
      letter-spacing: 0.2rem;
      overflow: hidden;

      &:before,
      &:after {
        content: '';
        display: inline-block;
        height: 62px;
        width: 62px;
        background: white;
        position: absolute;
        top: 0;
        transform: rotate(45deg);
        transition: all 0.2s;
      }

      &:before {
        left: -20%;
      }

      &:after {
        right: -20%;
      }

      &:hover:before {
        left: -5%;
      }

      &:hover:after {
        right: -5%;
      }
    }
  }
}