/***
  Footer
***/

footer {
  padding: 50px 0;
  background-color: white;
  @include flexbox(row, center, center, wrap);

  img {
    margin-right: 10px;
    height: 48px;
    width: 48px;
  }

  span {
    margin-left: 10px;
    display: inline;
  }
}