/***
  Skills
***/

.gallery-wrapper {
  background-color: white;
  .gallery-row {
    @include flexbox(row, space-between, center, wrap);

    &:not(:last-of-type) {
      margin-bottom: 17.5px;
    }

    .gallery-image {
      height: 250px;
      padding-left: 50px;
      @include flexbox(row, flex-start, flex-end, wrap);

      &:first-of-type {
        width: 28.50%;
        background-color: pink;
      }

      &:nth-of-type(2) {
        width: 41.5%;
        background-color: tomato;
      }

      &:last-of-type {
        width: 28.5%;
        background-color: salmon;
      }
    }
  }
}