/***
  Skills
***/

.gallery-wrapper {
  background-color: white;
  @include flexbox(row, space-between, center, wrap);

  .gallery-image {
    cursor: pointer;
    height: 300px;
    padding-left: 3%;
    background-size: cover;
    width: 28.75%;
    @include flexbox(row, flex-start, flex-end, wrap);

    &:hover {
      h3 {
        &:before,
        &:after {
          width: calc(100% + 10px);
        }
      }
    }

    &:first-of-type {
      background-image: url('../assets/images/topworkz.png');
    }

    &:nth-of-type(2) {
      background-image: url('../assets/images/joint.png');
    }

    &:nth-of-type(3) {
      background-image: url('../assets/images/market.png');
    }

    &:nth-of-type(4) {
      background-image: url('../assets/images/worktop.png');
    }

    &:nth-of-type(5) {
      background-image: url('../assets/images/lable.png');
    }

    &:nth-of-type(6) {
      background-image: url('../assets/images/kyiv.png');
    }

    &:nth-child(-n+3) {
      margin-bottom: 12.5px;
    }

    &:nth-child(3n+2) {
      width: 41.5%;
    }

    h3 {
      &:before,
      &:after {
        content: '';
        display: block;
        height: 10px;
        width: 0;
        position: absolute;
        background-color: white;
        -webkit-transition: all 0.3s;
                transition: all 0.3s;
      }

      &:before {
        left: -10px;
        bottom: -10px;
      }

      &:after {
        right: 0;
        top: -10px;
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
      }
    }
  }
}