/***
  Global
***/

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #212121;
}

img {
  max-width: 100%;
}

main {
  position: absolute;
  bottom: -100%;
  height : 100vh;
  width : 100vw;
  background: blue;
  z-index: 2;
}

p {
  font-weight: lighter;
  font-size: 1.1rem;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2.75rem;
  margin: 0;
}