/***
  Global
***/

/* Mixins */

@mixin flexbox($direction: row, $justify: flex-start, $align: flex-start, $wrap: wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

/* Animations */

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

/* Setup */

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #212121;
}

img {
  max-width: 100%;
}

main {
  position: absolute;
  top: 100%;
  height : 100vh;
  width : 100vw;
  z-index: 2;
}

span {
  display: block;
}

p {
  font-weight: lighter;
  font-size: 1.1rem;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2.75rem;
  margin: 0;
}

h3 {
  position: relative;
  font-size: 2.5rem;
  color: white;
  letter-spacing: 0.4rem;
  margin: 0 0 30px;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin: 24px 0 30px;
}

/* Wrappers & Blocks */

.wrapper {
  padding: 150px 0;
  background-color: white;
  @include flexbox(row, center, center, wrap);
}

.block {
  position: relative;
  width: 50%;
  max-width: 1000px;
  border: 3px solid black;
  padding: 75px 0 50px;
  text-align: center;

  p {
    text-align: center;
    &:first-of-type {
      padding: 0 75px;
      margin-bottom: 35px;
    }
    &:last-of-type {
      padding: 0 125px;
    }
  }
}

.block-title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: -32.5px;
  left: 0;
  right: 0;
  background-color: white;
}

/* Various Elements */

button {
  position: relative;
  width: 400px;
  background-color: black;
  color: white;
  padding: 20px 0;
  border: 0;
  font-weight: lighter;
  letter-spacing: 0.2rem;
  overflow: hidden;

  &:before,
  &:after {
    content: '';
    display: inline-block;
    height: 62px;
    width: 62px;
    background: white;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    transition: all 0.2s;
  }

  &:before {
    left: -20%;
  }

  &:after {
    right: -20%;
  }

  &:hover:before {
    left: -5%;
  }

  &:hover:after {
    right: -5%;
  }
}
