/***
  Header
***/

header {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  position: fixed;
  z-index: 1;
  text-align: center;
  @include flexbox(row, center, center, wrap);

  .header-block {
    width: 50%;
    height: 50%;
    @include flexbox(column, center, center, wrap);

    h1 {
      letter-spacing: 0.55rem;
    }

    p {
      letter-spacing: 0.075rem;

      span {
        line-height: 2rem;
      }
    }
  }

  .scroll-icon {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 0;
    right: 0;
    bottom: 125px;
    margin-left: auto;
    margin-right: auto;

    .arrows {
    	width: 60px;
    	height: 72px;
    	position: absolute;
    	left: 50%;
    	margin-left: -30px;
    	bottom: -75px;
    }

    .arrows path {
    	stroke: white;
    	fill: transparent;
    	stroke-width: 2px;
    	animation: arrow 3s infinite;
    }

    .arrows path.a1 {
    	animation-delay:-1s;
    }

    .arrows path.a2 {
    	animation-delay:-0.5s;
    }

    .arrows path.a3 {
    	animation-delay:0s;
    }
  }
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}