/***
  Queries
***/

@media screen and (max-width: 1650px) {
  span {
    display: inline;
  }
  .gallery-wrapper {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    .gallery-image {
      width: 49%;
      margin-bottom: 17.5px;

      &:nth-child(3n+2) {
        width: 49%;
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  header {
    .header-block {
      width: 75%;
    }
  }

  .block {
    width: 75%;

    p {
      &:first-of-type,
      &:last-of-type {
        padding: 0 50px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  header {
    height: 500px;
    .header-block {
      height: 100%;
      width: 100%;
      padding: 0;

      p {
        font-size: 1rem;
        margin-top: 0;
      }
    }
    .scroll-icon {
      display: none;
    }
  }

  main {
    top: 500px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .gallery-wrapper {
    .gallery-image {
      width: 98%;
      &:nth-child(3n+2) {
        width: 98%;
      }
    }
  }
}

@media screen and (max-width: 825px) {
  .services-wrapper {
    .services-block {
      .services-lines {
        .services-line {
          width: 12.5%;
        }
      }
    }
  }

  .block {
    width: 95%;

    p {
      &:first-of-type,
      &:last-of-type {
        padding: 0 25px;
      }
    }
  }
  .block-title {
    width: 75%;
  }

  button {
    width: 75%;
  }
}

@media screen and (max-width: 550px) {
  button {
    width: 95%;
  }
  header {
    .scroll-icon {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  h4 {
    padding: 0 10px;
  }

  .services-wrapper {
    .services-block {
      .services-lines {
        .services-line {
          width: 2.5%;
        }
      }
    }
  }

  .block-title {
    width: 95%;
  }
  .gallery-wrapper {
    .gallery-image {
      padding-left: 0;

      &:hover {
        h3 {
          &:before,
          &:after {
            width: calc(100%);
          }
        }
      }

      h3 {
        display: inline-block;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        &:before {
          left: 0px;
        }
      }
    }
  }

  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;

    img {
      margin-right: 0;
      margin-bottom: 10px;
    }

    span {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 430px) {
  header {
    .header-block {
      p {
        display: none;
      }
    }
  }

  button {
    &:before {
      left: -30%;
    }

    &:after {
      right: -30%;
    }

    &:hover:before {
      left: -10%;
    }

    &:hover:after {
      right: -10%;
    }
  }
}