/***
  Skills
***/

.skills-wrapper {
  padding: 150px 0;
  background-color: white;
  @include flexbox(row, center, center, wrap);

  .skills-block {
    position: relative;
    width: 50%;
    max-width: 1000px;
    border: 3px solid black;
    padding: 100px 0 50px;

    .block-title {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      position: absolute;
      top: -32.5px;
      left: 0;
      right: 0;
      background-color: white;
    }

    .skill {
      margin-bottom: 50px;
      @include flexbox(column, center, center, wrap);

      p {
        margin-top: 0;
        margin-bottom: 35px;
        padding: 0 75px;
        text-align: center;
      }
    }
  }
}